.header {
  display: flex;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  justify-content: space-between;
  padding: 20px 0px;
  margin-bottom: -100px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 9999;
  align-items: center;
}
.menu-btn {
  cursor: pointer;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  max-width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColor);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10001;
  transition: right 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-menu.open {
  right: 0;
}
.side-menu-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.side-menu ul {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 30px;
  align-items: center;
}
.side-menu ul li {
  margin-left: 0px;
  letter-spacing: 2px;
  color: #ccc;
  font-weight: 600;
  cursor: pointer;
}
.navbar-connect {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}
.navbar-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}
@media only screen and (min-width: 500px) {
  .header {
    padding: 20px 0px;
  }
  .side-menu ul li {
    color: #eae5ec;
  }
  .navbar-title {
    font-size: 16px;
  }
}
@media only screen and (min-width: 900px) {
  .navbar-connect {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 35px 0px;
  }
  .navbar-connect {
    font-size: 16px;
  }
  .navbar-title {
    font-size: 18px;
  }
}
